
body {
    font-family: "Roboto", sans-serif;
}

.col {
    z-index: 10;
}

.triangle-depth {
    width: 100vw;
    height: 60vh;
    position: relative;
    
}



.header-picture {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
    width: auto;
    height: 100%;
    z-index: 10;
}









.header-icon {
    width: 30px;
    padding: 0;
    z-index: 10;
    margin: 0;
}

.about-me-card {
    color: rgb(101, 101, 101);
    z-index: 10;

}


.card-icon {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.footer-icon {
    width: 40px;
    padding: 0;
    margin: 0;
}





.card-text {
    color: rgb(101, 101, 101)
}

.card-img-top {
    padding-top: 0;
}

.card-title-icon-container {
    display: flex;
    justify-content: space-between;
}



.phone-email-container {
    display: flex;
    justify-content: left;
}

.card-container {
    padding-bottom: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-container {
    background-color: rgb(6, 112, 151);
    width: 100vw;
    font-family: "Playfair Display";
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}



/*laptop*/
@media (min-width: 1180px) { 
    #spacer {
        width: 0;
        height: 0;
        position: none;
        float: none;
        display: none;

    }
    .about-me-description {
        color: rgb(101, 101, 101);
        z-index: 10;
        font-family: "Roboto", sans-serif;
    }
    .name {
        color: grey;
        text-shadow: 0px 5px 5px rgba(183, 183, 183, 0.5); 
        transform: translate(0%, -100%);
        font-size: 50px;
        z-index: 10; /* Place text in front of image */
        font-family: "Playfair Display";

    }
    .card {
        width: 30.33%; /* 33.33% width for each item */
        flex-basis: 30.33%; /* Set initial main size to achieve equal width */
        box-sizing: border-box; /* Include padding and border in the width */
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        margin: 1%
        /* Additional styling for the flex items */
    }
    .work-title {
        font-family: "Playfair Display";
        padding-left: 11.5vw;
        padding-top: 10vh;
        font-size: 40px;    
    }

    .about-me-title {
        font-family: "Playfair Display";
        font-size: 40px;    

    }

    .card-title {
        font-family: "Playfair Display";
        font-size: 22px;
    }

    .header-icon-container-right {
        display: flex;
        justify-content: flex-end;
    }

    .blue-triangle {
        font-family: "Playfair Display";
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
        background-color: rgb(6, 112, 151);
        width: 100vw;
        height: 60vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-container {
        position:static;
        z-index: 10;
        padding-top: 7vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }
    .header-left {
        height: 45vh;
        text-align: center;
        display: flex;
        justify-content: right;
        z-index: 10;
        width: 48%; /* 33.33% width for each item */
        flex-basis: 48%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    
    }
    
    .header-right {
        height: 45vh;
        display: grid;
        grid-template-rows: 10% 80% 10%;
        z-index: 10;
        width: 460px; /* 33.33% width for each item */
        flex-basis: 460px; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    
    }

    .header-right-whitebox {
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        border: 1px solid  rgba(183, 183, 183, 0.5); 
        background-color: white; 
        z-index: 10;
        padding: 10px;
        
    
    }

    .footer-left {
        width: 48%; /* 33.33% width for each item */
        flex-basis: 48%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    }

    .footer-right {
        width: 48%; /* 33.33% width for each item */
        flex-basis: 48%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    }

    .footer-title {
        font-family: "Playfair Display";
        color: white;
    }
    
    .footer-text {
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 22px;
    }

    .footer-picture {
        background-color: white;
        width: 100%;
        height: auto;
    }
    
}
/*tablet*/
@media (max-width: 1180px) {
    .name {
        font-family: "Playfair Display";
        text-shadow: 0px 5px 5px rgba(183, 183, 183, 0.5); 

        color: grey;
        transform: translate(60%, -600%);
        font-size: 50px;
        z-index: 10; /* Place text in front of image */
    }
    .card {
        width: 48%; /* 33.33% width for each item */
        flex-basis: 48%; /* Set initial main size to achieve equal width */
        box-sizing: border-box; /* Include padding and border in the width */
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        margin: 1%
        /* Additional styling for the flex items */
    }

    .about-me-title {
        font-family: "Playfair Display";
        font-size: 40px; 
        text-align: right;   

    }

    .card-title {
        font-family: "Playfair Display";
        font-size: 22px;
    }

    .header-icon-container-right {
        display: flex;
        justify-content: flex-end;
    }

    .work-title {
        font-family: "Playfair Display";
        padding-left: 11.5vw;
        padding-top: 10vh;
        font-size: 40px;

    
    }

    .blue-triangle {
        font-family: "Playfair Display";
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
        background-color: rgb(6, 112, 151);
        width: 100vw;
        height: 60vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-container {
        position:relative;
        z-index: 10;
        padding-top: 7vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .header-left {
        height: 45vh;
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: left;
        z-index: 10;
        width: 700px; /* 33.33% width for each item */
        flex-basis: 700%; /* Set initial main size to achieve equal width */
        float: left;
    
    }

    .header-right-whitebox {
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        border: 1px solid  rgba(183, 183, 183, 0.5); 
        background-color: white; 
        z-index: 10;
        padding: 20px;
        position: relative;
        float: none;
        font-size: 20px;
    
    }

    .about-me-description {
        color: rgb(101, 101, 101);
        z-index: 10;
        font-family: "Roboto", sans-serif;
        position: absolute;
        word-wrap: both;

    }

    #spacer {
        width: 55%;
        height: 50%;;
        position: relative;
        float: left;

    }
    
    .header-right {
        height: 45vh;
        position: absolute;
        justify-content: right;
        display: grid;
        grid-template-rows: 20% 120% 0%;
        z-index: 9;
        width: 600px; /* 33.33% width for each item */
        flex-basis: 70%; /* Set initial main size to achieve equal width */
    
    }



    .footer-left {
        width: 48%; /* 33.33% width for each item */
        flex-basis: 48%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    }

    .footer-right {
        width: 48%; /* 33.33% width for each item */
        flex-basis: 48%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    }

    .footer-title {
        font-family: "Playfair Display";
        color: white;
    }
    
    .footer-text {
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 18px;
    }

    .footer-picture {
        background-color: white;
        width: 100%;
        height: auto;
    }
    

}
/*phone*/
@media (max-width: 855px) {   

    .card {
        width: 99%; /* 33.33% width for each item */
        flex-basis: 99%; /* Set initial main size to achieve equal width */
        box-sizing: border-box; /* Include padding and border in the width */
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        margin: 1%;
        font-size: 30px;
        /* Additional styling for the flex items */
    }



    .card-title {
        font-family: "Playfair Display";
        font-size: 50px;
    }



    .work-title {
        font-family: "Playfair Display";
        padding-top: 90vh;
        text-align: center;
        font-size: 50px;
    
    }





    .footer-left {
        width: 99%; /* 33.33% width for each item */
        flex-basis: 99%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
        margin: 1%; 
        font-size: 50px;
    }

    .footer-right {
        width: 99%; /* 33.33% width for each item */
        flex-basis: 99%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
        margin: 1%

    }

    .footer-title {
        font-family: "Playfair Display";
        color: white;
        font-size: 50px;
        text-align: center;
    }
    
    .footer-text {
        font-family: "Roboto", sans-serif;
        color: white;
        font-size: 30px;
    }

    .footer-picture {
        background-color: white;
        position: absolute;
        bottom: 100;
        left: 0;
        width: 100vw;
        height: auto;
    }

    .footer-icon-container {
        display: flex;
        justify-content: space-evenly;
        
    }

    #spacer {
        width: 0;
        height: 0;
        position: none;
        float: none;
        display: none;

    }

    .blue-triangle {
        font-family: "Playfair Display";
        box-shadow: 5px 5px 5px rgba(183, 183, 183, 0.5); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
        background-color: rgb(6, 112, 151);
        width: 100vw;
        height: 60vh;
        position: absolute;
        top: 0;
        left: 0;
    }
    .header-container {
        position:static;
        z-index: 10;
        padding-top: 7vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;
    }
    .header-left {
        height: 45vh;
        text-align: center;
        display: flex;
        justify-content: center;
        z-index: 10;
        width: 80%;
        height: 100%; /* 33.33% width for each item */
        flex-basis: 80%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    
    }
    .header-right {
        height: 45vh;
        display: grid;
        grid-template-rows: 140% 100% 0%;
        z-index: 10;
        width: 80%; /* 33.33% width for each item */
        flex-basis: 100%; /* Set initial main size to achieve equal width */
        box-sizing: border-box;
    
    }
    .name {
        color: grey;
        text-shadow: 0px 5px 5px rgba(183, 183, 183, 0.5); 
        transform: translate(0%, -100%);
        font-size: 50px;
        z-index: 10; /* Place text in front of image */
        font-family: "Playfair Display";

    }

    .header-right-whitebox {
        box-shadow: none;
        border: none;
        background-color: white; 
        z-index: 10;
        padding: 20px;
        text-align: center;
        font-size: 30px;

    
    }
    .about-me-title {
        font-family: "Playfair Display";
        font-size: 50px;    
        text-align: center;

    }

    .header-icon-container-right {
        display: flex;
        justify-content: center;
    }

    .about-me-description {
        color: rgb(101, 101, 101);
        z-index: 10;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
    }
}


